<div class="widget BlogArchive" data-version="1" id="BlogArchive1">
    <h2><span>Blog Archive</span></h2>
    <div class="widget-content">
        <div id="ArchiveList">
            <div id="BlogArchive1_ArchiveList">
                <ul class="hierarchy">
                    <li class="archivedate expanded">
                        <a class="toggle" href="javascript:void(0)">
                            <span class="zippy toggle-open">▼&nbsp;</span>
                        </a>
                        <a class="post-count-link" href="http://voux-with-out-slider-themexpose.blogspot.in/2015/">2015</a>
                        <span class="post-count" dir="ltr">(5)</span>
                        <ul class="hierarchy">
                            <li class="archivedate expanded">
                                <a class="toggle" href="javascript:void(0)">
                                    <span class="zippy toggle-open">▼&nbsp;</span>
                                </a>
                                <a class="post-count-link" href="http://voux-with-out-slider-themexpose.blogspot.in/2015/03/">March</a>
                                <span class="post-count" dir="ltr">(5)</span>
                                <ul class="posts">
                                    <li><a href="http://voux-with-out-slider-themexpose.blogspot.in/2015/03/papilion-minter-savior.html">Papilion Minter Savior</a></li>
                                    <li><a href="http://voux-with-out-slider-themexpose.blogspot.in/2015/03/draught-vaein-mynel.html">Draught Vaein Mynel</a></li>
                                    <li><a href="http://voux-with-out-slider-themexpose.blogspot.in/2015/03/right-path-mystery.html">Right Path Mystery</a></li>
                                    <li><a href="http://voux-with-out-slider-themexpose.blogspot.in/2015/03/my-style-statement.html">My Style Statement</a></li>
                                    <li><a href="http://voux-with-out-slider-themexpose.blogspot.in/2015/03/ways-to-remember-something.html">Ways to remember Something</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="hierarchy">
                    <li class="archivedate collapsed">
                        <a class="toggle" href="javascript:void(0)">
                            <span class="zippy">

                                ►&nbsp;

                            </span>
                        </a>
                        <a class="post-count-link" href="http://voux-with-out-slider-themexpose.blogspot.in/2014/">2014</a>
                        <span class="post-count" dir="ltr">(5)</span>
                        <ul class="hierarchy">
                            <li class="archivedate collapsed">
                                <a class="toggle" href="javascript:void(0)">
                                    <span class="zippy">

                                        ►&nbsp;

                                    </span>
                                </a>
                                <a class="post-count-link" href="http://voux-with-out-slider-themexpose.blogspot.in/2014/07/">July</a>
                                <span class="post-count" dir="ltr">(3)</span>
                            </li>
                        </ul>
                        <ul class="hierarchy">
                            <li class="archivedate collapsed">
                                <a class="toggle" href="javascript:void(0)">
                                    <span class="zippy">

                                        ►&nbsp;

                                    </span>
                                </a>
                                <a class="post-count-link" href="http://voux-with-out-slider-themexpose.blogspot.in/2014/02/">February</a>
                                <span class="post-count" dir="ltr">(2)</span>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="hierarchy">
                    <li class="archivedate collapsed">
                        <a class="toggle" href="javascript:void(0)">
                            <span class="zippy">

                                ►&nbsp;

                            </span>
                        </a>
                        <a class="post-count-link" href="http://voux-with-out-slider-themexpose.blogspot.in/2013/">2013</a>
                        <span class="post-count" dir="ltr">(1)</span>
                        <ul class="hierarchy">
                            <li class="archivedate collapsed">
                                <a class="toggle" href="javascript:void(0)">
                                    <span class="zippy">

                                        ►&nbsp;

                                    </span>
                                </a>
                                <a class="post-count-link" href="http://voux-with-out-slider-themexpose.blogspot.in/2013/08/">August</a>
                                <span class="post-count" dir="ltr">(1)</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
        <span class="widget-item-control">
            <span class="item-control blog-admin">
                <a class="quickedit" href="//www.blogger.com/rearrange?blogID=2234225751207142007&amp;widgetType=BlogArchive&amp;widgetId=BlogArchive1&amp;action=editWidget&amp;sectionId=sidebar" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;BlogArchive1&quot;));" target="configBlogArchive1" title="Edit">
                    <img alt="" height="18" src="https://resources.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
                </a>
            </span>
        </span>
        <div class="clear"></div>
    </div>
</div>