<div class="widget LinkList" data-version="1" id="LinkList2">
    <h2><span>Kết nối</span></h2>
    <div class="widget-content">
        <ul class="site-social-networks secondary-2-primary style-default show-title">
            <li><a href="http://facebook.com/100016885652455"><i class="fa fa-facebook"></i>Facebook</a></li>
            <li><a href="http://twitter.com"><i class="fa fa-twitter"></i>Twitter</a></li>
            <li><a href="http://instagram.com"><i class="fa fa-instagram"></i>instagram</a></li>
            <li><a href="http://pinterest.com"><i class="fa fa-pinterest-p"></i>Pinterest</a></li>
            <li><a href="http://bloglovin.com"><i class="fa fa-heart"></i>bLOGLOVIN</a></li>
            <li><a href="http://youtube.com"><i class="fa fa-youtube-play"></i>Youtube</a></li>
        </ul>        
        <div class="clear"></div>
    </div>
</div>
