<div id="navigation">
    <div class="container">
        <div class="section" id="navigation-wrapper">
            <div class="widget PageList" data-version="1" id="PageList1">                
                <div class="widget-content menu">
                    <ul>
                        <li><a href="@Url.RouteUrl("Home")">Trang chủ</a></li>                        
                    </ul>                  
                    <div class="clear"></div>
                </div>
            </div>
        </div>        
        <div id="top-search">
            <a href="#"><i class="fa fa-search"></i></a>
        </div>
        <div class="show-search">
            <form action="/search" id="searchform" method="get" role="search">
                <div>
                    <input id="s" name="q" placeholder="Search and hit enter..." type="text">
                </div>
            </form>
        </div>
        <div class="section" id="top-social">
            <div class="widget LinkList" data-version="1" id="LinkList1">
                <div class="widget-content">
                    <a href="http://facebook.com"><i class="fa fa-facebook"></i><span class="smg-label">Facebook</span></a>
                    <a href="http://twitter.com"><i class="fa fa-twitter"></i><span class="smg-label">Twitter</span></a>
                    <a href="http://instagram.com"><i class="fa fa-instagram"></i><span class="smg-label">instagram</span></a>
                    <a href="http://pinterest.com"><i class="fa fa-pinterest-p"></i><span class="smg-label">pinterest</span></a>
                    <a href="http://bloglovin.com"><i class="fa fa-heart"></i><span class="smg-label">Bloglovin</span></a>
                    <a href="http://youtube.com"><i class="fa fa-youtube-play"></i><span class="smg-label">youtube</span></a>                   
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
