<nav class="navbar navbar-default navbar-fixed-top" id="navigation">
    <div class="container">        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.RouteUrl("Home")">Ping Pong</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://facebook.com"><i class="fa fa-facebook"></i><span class="smg-label">Facebook</span></a></li>
                <li><a href="http://twitter.com"><i class="fa fa-twitter"></i><span class="smg-label">Twitter</span></a></li>
                <li><a href="http://instagram.com"><i class="fa fa-instagram"></i><span class="smg-label">instagram</span></a></li>
                <li><a href="http://pinterest.com"><i class="fa fa-pinterest-p"></i><span class="smg-label">pinterest</span></a></li>
                <li><a href="http://bloglovin.com"><i class="fa fa-heart"></i><span class="smg-label">Bloglovin</span></a></li>
                <li><a href="http://youtube.com"><i class="fa fa-youtube-play"></i><span class="smg-label">youtube</span></a></li>
            </ul>            
        </div>
    </div>
</nav>