<div class="widget Text">
    <h2 class="title"><span>Giới thiệu</span></h2>
    <div class="widget-content">
        <div class="textwidget">
            <div style="text-align: center; width: 100%;">                
                <img src="~/Content/img/me.jpg" style="max-width: 100%;" alt="Me"/>
            </div>
            <div style="margin-top: 15px;">
                Tôi, một coder dân dã, xin phiêu lưu kỳ thú với bạn cùng những dòng code. Tôi muốn những chiêm nghiệm của mình sẽ được chia sẽ cùng các bạn, nên blog này được ra đời. Cảm ơn bạn đã ghé thăm, hãy để lại comment hoặc liên hệ để kết nối pingpongcode@gmail.com. Chăm chút cho điều mình yêu là niềm hạnh phúc.
            </div>
        </div>
    </div>    
    <div class="clear"></div>
</div>
@Html.Partial("_Follow")
@Html.Partial("_Label")
@Html.Partial("_RecentPosts")
<hr/>