<div id="widget-area">
    <div class="container">
        <div class="footerwidget section" id="container1">
            <div class="widget PopularPosts" data-version="1" id="PopularPosts1">
                <h2><span>Popular Posts</span></h2>
                <div class="widget-content popular-posts">
                    <ul>
                        <li>
                            <div class="item-thumbnail-only">
                                <div class="item-thumbnail">
                                    <a href="http://voux-with-out-slider-themexpose.blogspot.in/2015/03/draught-vaein-mynel.html" target="_blank">
                                        <img alt="" border="0" height="72" src="http://1.bp.blogspot.com/-LtXAjRFJy9s/VfmOq5gXUbI/AAAAAAAAHBM/BTyl2deqWiM/s72-c/post5-1080x720.jpg" width="72">
                                    </a>
                                </div>
                                <div class="item-title"><a href="http://voux-with-out-slider-themexpose.blogspot.in/2015/03/draught-vaein-mynel.html">Draught Vaein Mynel</a></div>
                            </div>
                            <div style="clear: both;"></div>
                        </li>
                        <li>
                            <div class="item-thumbnail-only">
                                <div class="item-thumbnail">
                                    <a href="http://voux-with-out-slider-themexpose.blogspot.in/2015/03/papilion-minter-savior.html" target="_blank">
                                        <img alt="" border="0" height="72" src="http://2.bp.blogspot.com/-RjuTsQfSizY/VbtghRxCLyI/AAAAAAAAGbg/PHTI2XP0oDU/s72-c/2.jpg" width="72">
                                    </a>
                                </div>
                                <div class="item-title"><a href="http://voux-with-out-slider-themexpose.blogspot.in/2015/03/papilion-minter-savior.html">Papilion Minter Savior</a></div>
                            </div>
                            <div style="clear: both;"></div>
                        </li>
                    </ul>
                    <div class="clear"></div>
                    <span class="widget-item-control">
                        <span class="item-control blog-admin">
                            <a class="quickedit" href="//www.blogger.com/rearrange?blogID=2234225751207142007&amp;widgetType=PopularPosts&amp;widgetId=PopularPosts1&amp;action=editWidget&amp;sectionId=container1" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;PopularPosts1&quot;));" target="configPopularPosts1" title="Edit">
                                <img alt="" height="18" src="https://resources.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
                            </a>
                        </span>
                    </span>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="footerwidget section" id="container2">
            <div class="widget HTML" data-version="1" id="HTML5">
                <h2 class="title"><span>Like us on Facebook</span></h2>
                <div class="widget-content">
                    <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fthemexpose&amp;width=350&amp;height=200&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:350px;height:200px;" allowtransparency="true"></iframe>
                </div>
                <div class="clear"></div>
                <span class="widget-item-control">
                    <span class="item-control blog-admin">
                        <a class="quickedit" href="//www.blogger.com/rearrange?blogID=2234225751207142007&amp;widgetType=HTML&amp;widgetId=HTML5&amp;action=editWidget&amp;sectionId=container2" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;HTML5&quot;));" target="configHTML5" title="Edit">
                            <img alt="" height="18" src="https://resources.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
                        </a>
                    </span>
                </span>
                <div class="clear"></div>
            </div>
        </div>
        <div class="footerwidget section" id="container3">
            <div class="widget HTML" data-version="1" id="HTML6">
                <h2 class="title"><span>Flickr Images</span></h2>
                <div class="widget-content">
                    <div class="flickr_plugin">
                        <script src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=58782395@N03" type="text/javascript"></script><div class="flickr_badge_image" id="flickr_badge_image1"><a href="http://www.flickr.com/photos/58782395@N03/5997125381/"><img src="http://farm7.staticflickr.com/6133/5997125381_f4ef090d13_s.jpg" alt="Ảnh trên Flickr" title="love" height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image2"><a href="http://www.flickr.com/photos/58782395@N03/5997125037/"><img src="http://farm7.staticflickr.com/6006/5997125037_a18d38683b_s.jpg" alt="Ảnh trên Flickr" title="funny" height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image3"><a href="http://www.flickr.com/photos/58782395@N03/5997676330/"><img src="http://farm7.staticflickr.com/6146/5997676330_7d4f9b8d4b_s.jpg" alt="Ảnh trên Flickr" title="funny" height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image4"><a href="http://www.flickr.com/photos/58782395@N03/5997676112/"><img src="http://farm7.staticflickr.com/6121/5997676112_66ea0ce490_s.jpg" alt="Ảnh trên Flickr" title="funny" height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image5"><a href="http://www.flickr.com/photos/58782395@N03/5997124661/"><img src="http://farm7.staticflickr.com/6004/5997124661_4c2cb8bbd4_s.jpg" alt="Ảnh trên Flickr" title="love" height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image6"><a href="http://www.flickr.com/photos/58782395@N03/5997124601/"><img src="http://farm7.staticflickr.com/6124/5997124601_5811735c7d_s.jpg" alt="Ảnh trên Flickr" title="funny" height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image7"><a href="http://www.flickr.com/photos/58782395@N03/5997124483/"><img src="http://farm7.staticflickr.com/6134/5997124483_03d90eddb7_s.jpg" alt="Ảnh trên Flickr" title="funny" height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image8"><a href="http://www.flickr.com/photos/58782395@N03/5997675744/"><img src="http://farm7.staticflickr.com/6022/5997675744_a8932bd50f_s.jpg" alt="Ảnh trên Flickr" title="funny" height="75" width="75"></a></div><span style="position:absolute;left:-999em;top:-999em;visibility:hidden" class="flickr_badge_beacon"><img src="http://geo.yahoo.com/p?s=792600102&amp;t=fba1923bb251378da7f4918b936bf9a0&amp;r=http%3A%2F%2Fvoux-with-out-slider-themexpose.blogspot.in%2F&amp;fl_ev=0&amp;lang=vn&amp;intl=sg" width="0" height="0" alt=""></span>
                    </div>
                </div>
                <div class="clear"></div>
                <span class="widget-item-control">
                    <span class="item-control blog-admin">
                        <a class="quickedit" href="//www.blogger.com/rearrange?blogID=2234225751207142007&amp;widgetType=HTML&amp;widgetId=HTML6&amp;action=editWidget&amp;sectionId=container3" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;HTML6&quot;));" target="configHTML6" title="Edit">
                            <img alt="" height="18" src="https://resources.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
                        </a>
                    </span>
                </span>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>