@model Blog.ViewModels.PostsTag
@{
    ViewBag.TextLogo = Html.Raw("<h1>Ping Pong</h1>");
    ViewBag.Title = Model.Tag.Name;
    Layout = "~/Views/VouxTheme/_LayoutSite.cshtml";
}
<div class="section" id="main">
    <h2 style="padding-top: 10px; padding-bottom: 10px;">
        <span id="blog-pager-newer-link">
            Các bài viết có tag: <strong>@Model.Tag.Name</strong>
        </span>
        <span id="blog-pager-older-link">
            <a href="@Url.RouteUrl("Home")" class="pull-right">xem tất cả</a>
        </span>
    </h2>
    <hr style="margin-top: 0;" />
    <div class="clearfix"></div>
    <div class="widget Blog">
        @Html.Partial("_Posts", Model.Posts)
    </div>
</div>
@section meta{
    <meta name="description" content="programming, that's my life, love love love, that's is target my life" />
    <meta name="keywords" content="asp.net mvc, asp.net core, blog, java, angularjs, typescript, and more ..." />
}