@model IEnumerable<Blog.Models.Post>
<div class="modal fade" id="modal-2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Set Featured Image</h4>
                <div class="modal-body FeaturedImage">
                    @foreach (var image in Model)
                    {
                        <div class="block-inline-img" id="image-@image.Id">
                            <div class="thumb">
                                <div class="centered">
                                    <a href="#">
                                        <img id="@image.Id" alt="@image.Guid" class="attachment-image" src="~/uploads/Thumb/@image.Guid" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    }                
                </div>
                <div class="modal-footer">
                    <p class="pull-left text-success">Double click để chọn image</p>
                    <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a href="#" class="btn btn-primary" id="get_image_file_path">Choose image</a>
                </div>
            </div>
        </div>
    </div>
</div>

