@model Blog.Areas.admin.ViewModels.PostsIndex
@{
    ViewBag.Title = "Image";
}
<div class="wrap">
    <h2>Media</h2>
    @Html.Partial("_FormUpload")
    <div class="view-switch media-grid-view-switch">
        <div class="pull-right">        
            <a href="@Url.Action("", new {layout = "grid"})"><span class="screen-reader-text">Grid View</span></a>
            <a href="@Url.Action("", new {layout = "list"})"><span class="screen-reader-text">List View</span></a>
        </div>
    </div>
    @Html.Partial("_List", Model.Posts)
   
</div>


