
@{
    ViewBag.Title = "Error (500)";
    Layout = null;
}

<h1>500 - Có điều gì bất thường đã xảy ra trong hệ thống</h1>
<p>Chúng tôi xin lỗi vì sự bất tiện này. Vui lòng trở lại <a href="@Url.RouteUrl("Home")">Trang chủ</a></p>

