
@{
    ViewBag.Title = "Error (500)";
    Layout = null;
}
<style>
    #header, #container, #footer {
        display: block;
        width: 960px;
        margin: 0 auto;
    }

    .clear {
        display: inline-block;
        clear: both;
    }

    #container {
        padding: 30px 0;
    }

    body {
        margin: 0;
        padding: 0;
        font-size: 13px;
        font-family: Georgia,"Times New Roman",Times,serif;
        color: #919191;
        background-color: #232323;
    }

    .clear:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        line-height: 0;
    }

    #fof {
        display: block;
        width: 100%;
        margin: 100px 0;
        line-height: 1.6em;
        text-align: center;
    }

        #fof .hgroup {
            text-transform: uppercase;
        }

            #fof .hgroup h1 {
                margin-bottom: 25px;
                font-size: 80px;
            }

    h1, h2, h3, h4, h5, h6 {
        margin: 0 0 15px 0;
        padding: 0;
        font-size: 20px;
        font-weight: normal;
        line-height: normal;
    }

    #fof .hgroup h1 span {
        display: inline-block;
        margin-left: 5px;
        padding: 2px;
        border: 1px solid #CCCCCC;
        overflow: hidden;
    }

        #fof .hgroup h1 span strong {
            display: inline-block;
            padding: 0 20px 20px;
            border: 1px solid #CCCCCC;
            font-weight: normal;
        }

    #fof .hgroup h2 {
        font-size: 60px;
    }

    #fof .hgroup h1 {
        margin-bottom: 25px;
        font-size: 80px;
    }

    #fof .hgroup h2 span {
        display: block;
        font-size: 30px;
    }

    #fof p {
        margin: 25px 0 0 0;
        padding: 0;
        font-size: 16px;
    }
</style>

<div id="container" class="clear">
    <div id="fof" class="clear">
        <div class="hgroup">
            <h1><span><strong>4</strong></span><span><strong>0</strong></span><span><strong>4</strong></span></h1>
            <h2>Error ! <span>Không tim thấy trang yêu cầu</span></h2>
        </div>
        <p>Trang này không tồn tại trong hệ thống. Xin lỗi vì sự bất tiện này.</p>
        <p><a href="javascript:history.go(-1)">« Quay trở lại</a> / <a href="@Url.RouteUrl("Home")">Trang chủ »</a></p>
    </div>
</div>
